* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 7.5em;
}
.boxLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxLeft > h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
}
.boxLeft > h1 > a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.boxRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.boxRight > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3em;
  padding-right: 2em;
}
.boxRight > ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* LISTAR */

.box2 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 3.5em;
  color: #fff;
  gap: 1.5em;
}
.box2 > a {
  text-decoration: none;
  color: #fff;
}

table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.tableBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;

}

.id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #26335d;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #26335d;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #26335d;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

