* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.listar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listar .boxTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 1.5em;
}
.listar .boxTop > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border: solid 0.1px #26335D;
  background: #26335D;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  
}
.listar .boxBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.listar .boxBottom .tableTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  border: solid 1px #fff;
  padding: 5px;

}
.listar .boxBottom .tableBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  border: solid 1px #fff;
  padding: 5px;
}
                
.listar .boxBottom .tableBottom .tableBottomOpcions a{
    text-decoration: none;
    border: solid 0.1px #26335D;
    background: #26335D;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}